body{
    font-family: "Spartan";
}

.caption{
    font-size: medium;
}

img{
    max-width: 100%;
    height: auto;
    width: auto; 
}
.my_col{
    margin-bottom: 20px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.jumbotron{
    background: #2991ce !important;
}



